.card_div {
  height: 250px;
  width: 200px;
  border: 1.5px solid #bf5700;
  border-radius: 10px;
  padding: 2px;
  background-color: #FFF8F2;
}

.img_div {
  height: 75px;
  display: flex;
  justify-content: center;
}

.profile_pic {
  height: 70px;
  width: 70px;
  margin: auto;
}

.name {
  text-align: center;
  font-weight: bold;
  margin: 8px;
}

.other_info {
  text-align: center;
  margin: 2px;
}

.message_outer {
  display: flex;
  justify-content: center;
}

.message {
  height: 35px;
  width: 130px;
  border: 1.5px solid #bf5700;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.message a {
  text-decoration: none;
  color: #bf5700;
  height: fit-content;
  margin: auto;
}


